.root{
	-fx-background-color: #383838;
}
.label{
	-fx-text-fill: #E8E8E8;
	-fx-font-weight: bold;
}
.button{
	-fx-background-color: #7CAFC2;
	-fx-background-radius: 5;
	-fx-text-fill: #E8E8E8;
	-fx-font-weight: bold;
}
#obavestenje{
	-fx-text-fill: #AB4642;
	-fx-font-weight: bold;
}