.root{
	-fx-background-color: #383838;
}

#dugme1 {
	-fx-background-color: #D8D8D8;
	-fx-text-fill: #383838;
	-fx-background-radius: 5;
}
#labela1{
	-fx-text-fill: #E8E8E8;
	-fx-font-weight: bold;
}
.prompt1{
	-fx-prompt-text-fill: #282828;
	-fx-background-radius: 5;
}
.labelaTekst{
	-fx-text-fill: #E8E8E8;
	-fx-font-weight: bold;
	-fx-font-size: 16px;
}
.plavaDugmad{
	-fx-background-color: #7CAFC2;
	-fx-background-radius: 5;
	-fx-text-fill: #E8E8E8;
	-fx-font-weight: bold;
}
.crvenaDugmad{
	-fx-background-color: #AB4642;
	-fx-background-radius: 5;
	-fx-text-fill: #E8E8E8;
	-fx-font-weight: bold;
}