.root{
	-fx-background-color: #383838;
}
.label{
	-fx-text-fill: #E8E8E8;
	-fx-font-weight: bold;
}
.potvrdnaDugmad{
	-fx-background-color: #7CAFC2;
	-fx-background-radius: 5;
	-fx-text-fill: #E8E8E8;
	-fx-font-weight: bold;
}
.choice-box .menu-item > .label{
	-fx-text-fill: #282828;
	-fx-font-weight: bold;
}
.choice-box > .label{
	-fx-text-fill: #282828;
	-fx-font-weight: bold;
}