.root{
	-fx-background-color: #383838;
}
.tekst{
	-fx-text-fill: #E8E8E8;
	-fx-font-weight: bold;
}
.label{
	-fx-text-fill: #585858;
	-fx-font-size: 12px;
}
#plavoDugme{
	-fx-background-color: #7CAFC2;
	-fx-background-radius: 5;
	-fx-text-fill: #E8E8E8;
	-fx-font-weight: bold;
}
#crvenoDugme{
	-fx-background-color: #AB4642;
	-fx-background-radius: 5;
	-fx-text-fill: #E8E8E8;
	-fx-font-weight: bold;
}